{
  "trailingComma": "none",
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": {
        "parser": "lwc",
        "printWidth": 120,
        "tabWidth": 2
      }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": {
        "parser": "html",
        "printWidth": 120,
        "tabWidth": 2
      }
    },
    {
      "files": "*.{cls,trigger}",
      "options": {
        "printWidth": 120,
        "tabWidth": 2
      }
    }
  ]
}
